* {
    margin: 0%;
    font-family: Roboto, sans-serif;
    /* padding: 0%; */
}

.section-head {
    font-size: 2.25rem;
    margin-bottom: 1rem;
}

.landing-page {
    background: url('./designer_1.png') no-repeat center center;
    height: 100vh;
    width: 100vw;
    /* background-position: bottom right; */
    background-position: right top;
    background-size: auto 100%;
    /* auto width, full height */
}

.btn-fill {
    background-color: #111b47;
    text-decoration: none;
    color: aliceblue;
    border-radius: 2px;
    text-align: center;
    width: 189.13px;
    height: 36px;
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-transparent {
    background-color: transparent;
    color: #111b47;
    text-decoration: none;
    border: 1px solid #111b47;
    border-radius: 2px;
    margin-top: 5px;
    width: 189.13px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
}

header {
    position: fixed;
    width: 100vw;
    top: 0;
    left: 0;
    z-index: 999;
}


/* Nav bar */
.navbar {
    display: flex;
}

.nav-col {
    flex: 1;
}

.nav-col-1 {
    flex: 1;
}

.options {
    display: flex;
    justify-content: center;
    flex-direction: row;
    list-style-type: none;
    align-items: center;
    gap: 5rem;
}

.logo {
    font-weight: 900;
    font-size: 1.625rem;
    /* line-height: 2.375; */
}

.center {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.start {
    display: inline-flex;
    justify-content: center;
    align-items: flex-start;
}

.light-bg {
    color: #505F98;
}

.dark-bg {
    color: #091133;
}

/* landing content */
.sec-1 {
    display: flex;
}

.right-col {
    /* width: 30%;
    margin: 10.195rem auto auto 12.188rem; */
    width: 100%;
    max-width: 600px;
    /* Or whatever max size makes sense */
    margin: 10.195rem auto auto 11rem;
    padding: 0 1rem;
    /* For some breathing room on smaller screens */
    box-sizing: border-box;
}

.right-col>h1 {
    font-size: 3.125rem;
    /* letter-spacing: 0.063rem; */
}

.right-col>p {
    font-size: 1.125rem;
    margin-top: 2.57201646090535rem;
    line-height: 1.875rem;
}

.button-group {
    display: flex;
    margin-top: 4.313rem;
    gap: 1.876rem;
}

/* Section - 2 */
.sec-2 {
    display: flex;
    width: 100vw;
    /* height: 75vh; */
    height: auto;
}

.sec-2-col-1 {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.sec-2-col-2 {
    flex: 1;
    margin-top: 6.100rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.light-and-fast {
    width: 33.75rem;
    flex: 1;
}

.title-boxes {
    display: flex;
    justify-content: space-between;
}

.bg-head {
    font-size: 1rem;
}

.bg-head {
    font-size: 1rem;
    color: #091133;
}

.title-col-2 {
    width: 40%;
}

.light-and-fast>h2 {
    font-size: 2.25rem;
    margin-bottom: 1rem;
}

.light-and-fast>p {
    font-size: 1rem;
    line-height: 1.625rem;
    margin-bottom: 1.5rem;
}

.title-boxes {
    display: flex;
    justify-content: space-between;
}

.title-col-2 {
    width: 45%;
}

.sub-sec {
    width: 100%;
    max-width: 80%;
}

.title-col-2>img,
h4,
p {
    margin-bottom: 1rem;
}

/* section 3 */
.mobile {
    display: flex;
    width: 100vw;

    height: 75vh;
    /* height: auto; */
    /* height: 60vh; */
}


.sec-3-col {
    flex: 1;
}

.sec-3-col {
    flex: 1;
}

/* .sec-3-col {
    display: flex;
    justify-content: center;
    align-items: center;
} */

.sec-3-col-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.sec-3-col-2 {
    /* display: block; */
    flex: 1;
}


.sec-3-card {
    max-width: 45%;
    font-size: 1rem;
    line-height: 1.625rem;
    margin-bottom: 1.5rem;
}

.sec-3-card>* {
    margin-bottom: 1rem;
}


/* cost section */
.sec-5 {
    position: relative;
}


.cost-banner {
    width: 100vw;
    height: 80vh;
    background-color: #f2f5ff;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .cost-banner::after {
    content: "";
    position: absolute;
    top: 0;
    right: -5%;
    left: -5%;
    height: 120px;
    background: #fff;
    clip-path: ellipse(50% 60% at 50% 0%);
} */


.cost-card-container {
    width: 40%;
    text-align: center;
}

.btns-fill {
    background-color: #111b47;
    text-decoration: none;
    color: aliceblue;
    border-radius: 2px;
    text-align: center;
    width: 189.13px;
    height: 36px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cost-card-container>h1 {
    font-size: 2.25rem;
    font-weight: 500;
    color: #222F65;
    margin-bottom: 1rem;
}

.cost-card-container>p {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.625rem;
    margin-bottom: 2.239rem;
}

.price {
    font-size: 3.125rem;
    color: #222F65;
    padding: 0 2rem 0 2rem;
}

.design {
    font-size: 1rem;
    margin-bottom: 3.75rem;
}

.see-price {
    font-size: 0.875rem;
    margin-bottom: 1rem;
}

footer {
    width: 100vw;
    height: 20vh;
    background-color: #e7ecff;
    display: flex;
    align-items: flex-end;
}


.nav-container {
    width: 80%;
    background-color: #091133;
    display: flex;
    justify-content: space-between;
}

.footer-container {
    width: 80%;
    margin: 0 auto;
}

.footer-cta {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-child {
    width: 20%;
    background-color: #e7ecff;
    padding: 1rem 0 1rem 0;
}

.line {
    border-top: 1px solid #CDD1D4;
}

.nav-child-3 {
    align-items: left;
}

.nav-child-1 {
    text-align: left;
}

.nav-child-2 {
    text-align: center;
}

.footer-nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.footer-col-1 {
    display: flex;
    text-decoration: none;
    list-style: none;
    flex: 1;
}

.foot-options {
    display: flex;
    width: 40%;
    justify-content: space-between;
}

.foot-options {
    padding: 1.5rem 0 1.5rem 0;
    text-align: left;
}

.social-media {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40%;

}

.footer-col-2 {
    display: flex;
    text-decoration: none;
    list-style: none;
    flex: 1;
    justify-content: flex-end;
}

/* Small devices (phones) */
@media (max-width: 480px) {}

/* Medium devices (tablets) */
@media (min-width: 481px) and (max-width: 768px) {
    body {
        margin: 0;
        padding: 0;
    }

    :root {
        --width: 90%;
    }

    header {
        height: 2rem;
        position: relative;
        
    }
    .logo {
        flex: 1;
        margin-left: 3.4rem;
    }
    .navbar {
        position: fixed;
        width: 100%;
    }
    .nav-col-1 {
        display: none;
    }

    .landing-page {
        background-image: none;
        height: auto;
    }

    .sec-1,
    .sec-2,
    .mobile,
    .sec-5,
    .sec-3,
    .footer-cta,
    .footer-container {
        flex-direction: column;
        width: var(--width);
        height: auto;
        margin: 1rem auto 1rem auto;
        justify-content: center;
        text-align: center;
    }

   
    .button-group {
        justify-content: center;
    }

    .footer-cta {
        position: relative;
        height: auto;
        margin: 0%;
    }
    .right-col,
    .sec-2-col-1,
    .sec-3-col-2,
    .light-and-fast {
        width: 100%;
        height: auto;
        margin: 0 auto;
        justify-content: center;
    }
    .sec-5, .sec-2-col-2 {
        display: none;
    }
    .sec-3-card {
        width: 100%;
        max-width: 90%;
        margin-top: 1.5rem;
    }
}

/* Large devices (small laptops) */
/* @media (min-widt h: 769px) and (max-width: 1024px) {} */